In [1]:
import pandas as pd

# Read the data from the sheet into a DataFrame.
df = pd.read_excel("GDP.xls", sheet_name='Data')
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.112502e+10,2.161623e+10,2.350628e+10,2.804836e+10,2.592067e+10,2.947210e+10,...,9.859871e+11,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.056449e+10,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.044764e+10,1.117321e+10,1.199053e+10,1.272769e+10,1.389811e+10,1.492979e+10,...,8.339481e+11,8.943225e+11,7.686447e+11,6.913634e+11,6.848988e+11,7.670257e+11,8.225384e+11,7.864600e+11,8.444597e+11,8.778633e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.334016e+11,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.735328e+09,7.074393e+09,6.295845e+09,6.682674e+09,7.180769e+09,7.878763e+09,7.899741e+09,7.717143e+09,9.412034e+09,9.429156e+09
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.041523e+10,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,4.008860e+11,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.041589e+11,3.885312e+11,3.376196e+11,4.190156e+11,4.058697e+11
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.811064e+10,2.214765e+10,2.978445e+10
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.067806e+10

In [2]:
columns_to_keep = ["Country Name", "2021", "2022"]

# Select only the desired columns using .loc
df = df.loc[:, columns_to_keep]
df

                    Country Name          2021          2022
0                          Aruba  3.126019e+09           NaN
1    Africa Eastern and Southern  1.081998e+12  1.169484e+12
2                    Afghanistan  1.458314e+10           NaN
3     Africa Western and Central  8.444597e+11  8.778633e+11
4                         Angola  6.568544e+10  1.067136e+11
..                           ...           ...           ...
261                       Kosovo  9.412034e+09  9.429156e+09
262                  Yemen, Rep.           NaN           NaN
263                 South Africa  4.190156e+11  4.058697e+11
264                       Zambia  2.214765e+10  2.978445e+10
265                     Zimbabwe  2.837124e+10  2.067806e+10

[266 rows x 3 columns]

In [3]:
pd.set_option('display.float_format', '{:.2f}'.format)
df = df.rename(columns={'Country Name': 'Country'})
df = df.rename(columns={'2021': 'GDP 2021'})
df = df.rename(columns={'2022': 'GDP 2022'})
df

                         Country         GDP 2021         GDP 2022
0                          Aruba    3126019385.47              NaN
1    Africa Eastern and Southern 1081998139192.47 1169483734191.46
2                    Afghanistan   14583135236.57              NaN
3     Africa Western and Central  844459722152.99  877863284874.07
4                         Angola   65685435100.50  106713618735.43
..                           ...              ...              ...
261                       Kosovo    9412034299.23    9429156201.96
262                  Yemen, Rep.              NaN              NaN
263                 South Africa  419015636064.71  405869718462.34
264                       Zambia   22147649568.61   29784454055.94
265                     Zimbabwe   28371238665.51   20678055597.73

[266 rows x 3 columns]

In [4]:
csv_file = "R_GDP.csv"
df.to_csv(csv_file, index=False, encoding='utf-8')
print(f"DataFrame saved to {csv_file}")

DataFrame saved to R_GDP.csv

In [5]:
# Read the data from the sheet into a DataFrame.
df = pd.read_excel("population.xls", sheet_name='Data')
df = df.rename(columns={'Country Name': 'Country'})
df

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.00,55811.00,56682.00,57475.00,58178.00,58782.00,...,102880.00,103594.00,104257.00,104874.00,105439.00,105962.00,106442.00,106585.00,106537.00,106445.00
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.00,134169237.00,137835590.00,141630546.00,145605995.00,149742351.00,...,567892149.00,583651101.00,600008424.00,616377605.00,632746570.00,649757148.00,667242986.00,685112979.00,702977106.00,720839314.00
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.00,8790140.00,8969047.00,9157465.00,9355514.00,9565147.00,...,31541209.00,32716210.00,33753499.00,34636207.00,35643418.00,36686784.00,37769499.00,38972230.00,40099462.00,41128771.00
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.00,99314028.00,101445032.00,103667517.00,105959979.00,108336203.00,...,387204553.00,397855507.00,408690375.00,419778384.00,431138704.00,442646825.00,454306063.00,466189102.00,478185907.00,490330870.00
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.00,5441333.00,5521400.00,5599827.00,5673199.00,5736582.00,...,26147002.00,27128337.00,28127721.00,29154746.00,30208628.00,31273533.00,32353588.00,33428486.00,34503774.00,35588987.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.00,966000.00,994000.00,1022000.00,1050000.00,1078000.00,...,1818117.00,1812771.00,1788196.00,1777557.00,1791003.00,1797085.00,1788878.00,1790133.00,1786038.00,1761985.00
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5542459.00,5646668.00,5753386.00,5860197.00,5973803.00,6097298.00,...,26984002.00,27753304.00,28516545.00,29274002.00,30034389.00,30790513.00,31546691.00,32284046.00,32981641.00,33696614.00
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.00,16989464.00,17503133.00,18042215.00,18603097.00,19187194.00,...,53873616.00,54729551.00,55876504.00,56422274.00,56641209.00,57339635.00,58087055.00,58801927.00,59392255.00,59893885.00
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3119430.00,3219451.00,3323427.00,3431381.00,3542764.00,3658024.00,...,15234976.00,15737793.00,16248230.00,16767761.00,17298054.00,17835893.00,18380477.00,18927715.00,19473125.00,20017675.00
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3806310.00,3925952.00,4049778.00,4177931.00,4310332.00,4447149.00,...,13555422.00,13855753.00,14154937.00,14452704.00,14751101.00,15052184.00,15354608.00,15669666.00,15993524.00,16320537.00

In [6]:
df = df.rename(columns={"2022": "population 2022"})
columns_to_keep = ["Country", "population 2022"]

df = df.loc[:, columns_to_keep]
df

                         Country  population 2022
0                          Aruba        106445.00
1    Africa Eastern and Southern     720839314.00
2                    Afghanistan      41128771.00
3     Africa Western and Central     490330870.00
4                         Angola      35588987.00
..                           ...              ...
261                       Kosovo       1761985.00
262                  Yemen, Rep.      33696614.00
263                 South Africa      59893885.00
264                       Zambia      20017675.00
265                     Zimbabwe      16320537.00

[266 rows x 2 columns]

In [7]:
csv_file = "R_population.csv"
df.to_csv(csv_file, index=False, encoding='utf-8')
print(f"DataFrame saved to {csv_file}")

DataFrame saved to R_population.csv